---
import PageLayout from "@layouts/PageLayout.astro"
import TopLayout from "@layouts/TopLayout.astro"
import BottomLayout from "@layouts/BottomLayout.astro"
import fetchApi from "@lib/strapi"
import type Resume from "@interfaces/resume"
import { Markdown } from "@astropub/md"
import { RESUME } from "@consts"

const resumes = await fetchApi<Resume[]>({
  endpoint: "/resumes?_sort=date:desc"
})

function formatResumeDate(input: string) {
  if (!input) return "Present"

  const date = new Date(input)

  const month = date.toLocaleDateString("id-ID", {
    month: "short",
  })

  const year = date.getFullYear()
  return `${month} ${year}`
}
---

<PageLayout title={RESUME.TITLE} description={RESUME.DESCRIPTION}>
  <TopLayout>
    <div class="animate page-heading">
      {RESUME.TITLE}
    </div>
  </TopLayout>
  <BottomLayout>
    <ul>
      { 
        resumes.map((entry) => (
          <li class="animate border-b border-black/10 dark:border-white/25 mt-4 py-8 first-of-type:mt-0 first-of-type:pt-0 last-of-type:border-none">
            <div class="text-sm uppercase mb-4">
              {formatResumeDate(entry.attributes.joinDate)} - {formatResumeDate(entry.attributes.leaveDate)}
            </div>
            <div class="text-black dark:text-white font-semibold">
              {entry.attributes.institution}
            </div>
            <div class="text-sm font-semibold">
              {entry.attributes.position}
            </div>
            <article class="prose dark:prose-invert">
              <Markdown of={entry.attributes.description} />
            </article>
          </li>
        ))
      }
    </ul>
  </BottomLayout>
</PageLayout>
