---
import { getCollection } from "astro:content"
import PageLayout from "@layouts/PageLayout.astro"
import TopLayout from "@layouts/TopLayout.astro"
import BottomLayout from "@layouts/BottomLayout.astro"
import Projects from "@components/Projects"
import fetchApi from "@lib/strapi"
import type Project from "@interfaces/project"
import type Tag from "@interfaces/tag"
import type Stack from "@interfaces/stack"
import { PROJECTS } from "@consts"

const projects = await fetchApi<Project[]>({
  endpoint: `/projects?populate=deep`
})

type Tags = [{
  id: number,
  attributes: Tag
}]
const tags = await fetchApi<Tags>({
  endpoint: `/tags`
})

type Stacks = [{
  id: number,
  attributes: Stack
}]

const stacks = await fetchApi<Stacks>({
  endpoint: `/stacks`
})

const tagStringArray = tags.map(tag => tag.attributes.text)
tagStringArray.push(...stacks.map(stack => stack.attributes.name))
---

<PageLayout title={PROJECTS.TITLE} description={PROJECTS.DESCRIPTION}>
  <TopLayout>
    <div class="animate page-heading">
      {PROJECTS.TITLE}
    </div>
  </TopLayout>
  <BottomLayout>
    <div class="animate">
      <Projects client:load tags={tagStringArray} data={projects} />
    </div>
  </BottomLayout>
</PageLayout>
